body {
    background-color: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecerafijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #fffb00;
    padding: 20px 30px;
    z-index: 1000; 
 }
 .logo a{
  color: #c1f33d;
  text-decoration: none;
  font-size: 20px;
 }
  .social-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    margin-right: 40px;
}
.button {
  background-color: #c1f33d;
  color: #111;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.social-bar a {
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
}
  .cajaprincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
  }
  
  .menubotones ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menubotones ul li {
    display: inline-block;
    margin-left: 20px;
    
  }
  
  .menubotones ul li:first-child {
    text-decoration: solid;
    margin-left: 0;
  }
  
  .menubotones ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menubotones ul li a:hover {
    background-color: #eca200;
  }

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.image-container {
    margin-top: 200px;
    position: relative;
    text-align: center;
}

.main-image {
    width: 100%;
    border-radius: 15px;
    border: 5px solid #fff;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-left: 5px;
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    margin: 0;
    color: #fff;
    font-size: 40px;
}

.explore-button {
    background-color: #c1f33d;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.tutorial-button {
    background-color: #fff;
    border: 5px solid #aad33a;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}



#More-info {
    padding-top: 140px; 
    margin-top: -140px;
}

.text-center {
    text-align: center;
    margin: 20px 0;
}

.yellow {
    color: #b8d404;
}

.black {
    color: #000000;
}

.rect-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.rect {
    text-align: center;
    gap: 40px;
    background-color: #c1f33d; /* Cambia esto al color que desees para el fondo */
    padding: 20px; /* Opcional: agrega padding si deseas espacio alrededor del contenido */
    border-radius: 15px; /* Asegura que el fondo tenga bordes redondeados si así lo deseas */
    overflow: hidden; /* Asegura que las imágenes no se salgan del fondo */
}   

.rect img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 5px solid #ffffff;
    object-fit: cover;
}

.rect p{
    margin-bottom: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    padding: 20px;
    color: white;
}

.footer-column {
    max-width: 30%;
}

.footer-column h3 {
    color: #c1f33d;
}

.footer-column a {
    text-decoration: none;
    color: white;
}

.footer-column li {
    list-style-type: none;
}

.footer-social {
    background-color: #111;
    padding: 10px;
    text-align: center;
}

.footer-social a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}
.main-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.content-container {
    flex: 1;
    padding: 20px;
    background-color: #333; 
}

.content-container{
    font-size: 25px;
    text-align: justify;
}

.custom-box {
    background-color: #c1f33d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0;
    min-height: 200px; /* Ajusta este valor según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-box h2 {
    text-transform: uppercase;
    margin: 0 0 10px;
    color: #000;
}

.custom-box p {
    margin: 0 0 20px;
    color: #000;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #a8db35;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #3577db;
    color: #fff;
}